<div id="leftside">
  <% @counters.each do |counter| %>
  <%= link_to counter.name,counter,:class => 'but'%><br>
      <div id="mild">
      <%= truncate(counter.content,:length => 50) %>
      </div><br> 
  <% end %>
  <%= link_to 'Add link',new_counter_path ,:class => 'but1' %>
</div>
 


  <div id='withtitle'>
  <% @counters.each do |counter| %>
    <% if counter.type.present? %>
      <% if (counter.type).eql?('LinkWithTitle')%>
      <p><%= counter.name %></p>
      <% end %>
    <% end %>
  <% end %>
 </div>
  <div id='withouttitle'>
    <% @counters.each do |counter| %>
      <% if counter.type.present? %>
        <% if (counter.type).eql?('LinkWithoutTitle')%>
        <p><%= counter.name %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
 
<div id="contents"></div>
<div id="comment"></div>
<div id="feedback"></div>



