
<pre>
	<p>
		<b>Content:</b><%=h @counter.content %>
		<b>count value :</b><%=h @counter.count %>
		<b>total count:</b><%=h @tc %>
	</p>
</pre>
	<p>
		<%= link_to 'newcomment',new_counter_comment_path(@counter)%>
		<%= link_to 'view comments',counter_comment_path(@counter)%>
	</p>
	<br><br>




