<% form_for([@country,@comment]) do |f| %>
	<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :commentbody %><br />
    <%= f.text_area :commentbody%>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
 