<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Posts: <%= controller.action_name %></title>
  <%bundle do %>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag 'jquery-1.11.3.js' %> 
    <%= javascript_include_tag 'mainjs.js' %>  
  <%end%>
</head>
<body>
<header>
	Task 6 Ruby On Rails
	<div class="row">
		<div class="col-8">
    <nav>
      <ul>
        <li>
          <%= link_to 'Add New Country', new_country_path %>
        </li>
        <li>
          <%= link_to 'With Continent', withcontinents_path %> 
          <div id="withcontinent"></div>
        </li>
        <li>
          <%= link_to 'With Out Continent', withoutcontinents_path %>
          <div id="withoutcontinent"></div>
        </li>
      </ul>
    </nav>    
		</div>
		<div class="col-4 cl-effect-4">
      <% if current_user %>
        Hello, <%= current_user.username %>
      <%= link_to "Log out", logout_path %>
      <% else %>
        <%= link_to 'Sign-Up', new_user_path %>
      <%= link_to "Log in", login_path %>
      <% end %>
      <%= link_to 'Home', countries_path %>
		</div>
	</div>
</header>
<section>
<%= yield %>
</section>
<!--<footer>cpoyright &copy; www.BuildaBazaar.com</footer> -->
</body>
</html>
