<div class="row">
  <div class="col-4"></div>
  <div class="col-6">
    <b>Country Id:</b> <%= @country.id %>
    <b>Country Name :</b>  <%= @country.countryname %><br /><br />
    <b>Description :</b> <%= @country.countrydesc %><br /><br />
    
    <br /><br />
    <%= link_to 'New comment', new_country_comment_path(@country) %>
    <%= link_to 'Comments', country_comments_path(@country) %>
  </div>
  <div class ="col-2"></div>
</div>
