  <div class="row">
  <div class="col-4"></div>
  <div class="col-6">
    <% form_for(@country) do |coun| %>
      <p>
        <%= coun.label :countryname %><br />
        <%= coun.text_field :countryname, :placeholder => "Country Name"%>
      </p>
      <p>
        <%= coun.label :description %><br />
        <%= coun.text_field :countrydesc, :placeholder => "Country Description" %>
      </p>
      <p>
        <%= coun.radio_button :type, "Withcontinent" %>
        <%= coun.label :type, "Withcontinent", :value => "Withcontinent" %>
        <%= coun.radio_button :type, "Withoutcontinent" %>
        <%= coun.label :type, "Withoutcontinent", :value => "Withoutcontinent" %>
      </p>
      <p>
        <div id="showcontinent" class="block" >
          <%= coun.label :ContinentName  %><br />
          <%= coun.text_field :continent %>
        </div>
      </p>
      <p>
        <%= coun.submit 'Create' %>
      </p>
      <div class="errors">
          <% if @country.errors.any? %>
            <ul class="Signup_Errors">
            <% for message_error in @country.errors.full_messages %>
              <li> <%= message_error %></li>
            <% end %>
            </ul>
          <% end %>
        </div>
    <% end %>    
    </div>
  <div class="col-1"></div>
</div>
